select.form-control{
    padding-top: 11px !important;
}
@media (max-width: 370px){
    .form_lay_select_padding {
        padding: 8px 1px 0;
    }
}
@media (max-width: 1200px) and (min-width: 992px){
    .two_column_label_margintop,.two_column_input_margintop {
        margin-top: 12px;
    }
}
@media (max-width: 991px){
    .two_column_label_margintop {
        margin-top: 17px !important;
    }
}